.h-100 {
  height: 100% !important;
}

.lh-1 {
  line-height: 1;
}

.g-50,
.gy-50 {
  --bs-gutter-y: 50px;
}

.g-50,
.gx-50 {
  --bs-gutter-x: 50px;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-1919-14 {
  @media screen and (max-width: 1919px) {
    font-size: 14px !important;
  }
}

.fs-1919-16 {
  @media screen and (max-width: 1919px) {
    font-size: 16px !important;
  }
}

.fs-1919-18 {
  @media screen and (max-width: 1919px) {
    font-size: 18px !important;
  }
}

.fs-1919-20 {
  @media screen and (max-width: 1919px) {
    font-size: 20px !important;
  }
}

.fs-1919-22 {
  @media screen and (max-width: 1919px) {
    font-size: 22px !important;
  }
}

.fs-575-14 {
  @media screen and (max-width: 575px) {
    font-size: 14px !important;
  }
}

.fs-575-16 {
  @media screen and (max-width: 575px) {
    font-size: 16px !important;
  }
}

.fs-575-18 {
  @media screen and (max-width: 575px) {
    font-size: 18px !important;
  }
}

.m-10 {
  margin: 10px !important;
}

.mt-10,
.my-10 {
  margin-top: 10px !important;
}

.mb-10,
.my-10 {
  margin-bottom: 10px !important;
}

.ms-10,
.mx-10 {
  margin-left: 10px !important;
}

.me-10,
.mx-10 {
  margin-right: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.pt-10,
.py-10 {
  padding-top: 10px !important;
}

.pb-10,
.py-10 {
  padding-bottom: 10px !important;
}

.ps-10,
.px-10 {
  padding-left: 10px !important;
}

.pe-10,
.px-10 {
  padding-right: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.mt-15,
.my-15 {
  margin-top: 15px !important;
}

.mb-15,
.my-15 {
  margin-bottom: 15px !important;
}

.ms-15,
.mx-15 {
  margin-left: 15px !important;
}

.me-15,
.mx-15 {
  margin-right: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.pt-15,
.py-15 {
  padding-top: 15px !important;
}

.pb-15,
.py-15 {
  padding-bottom: 15px !important;
}

.ps-15,
.px-15 {
  padding-left: 15px !important;
}

.pe-15,
.px-15 {
  padding-right: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.mt-20,
.my-20 {
  margin-top: 20px !important;
}

.mb-20,
.my-20 {
  margin-bottom: 20px !important;
}

.ms-20,
.mx-20 {
  margin-left: 20px !important;
}

.me-20,
.mx-20 {
  margin-right: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-20,
.py-20 {
  padding-top: 20px !important;
}

.pb-20,
.py-20 {
  padding-bottom: 20px !important;
}

.ps-20,
.px-20 {
  padding-left: 20px !important;
}

.pe-20,
.px-20 {
  padding-right: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.mt-30,
.my-30 {
  margin-top: 30px !important;
}

.mb-30,
.my-30 {
  margin-bottom: 30px !important;
}

.ms-30,
.mx-30 {
  margin-left: 30px !important;
}

.me-30,
.mx-30 {
  margin-right: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.pt-30,
.py-30 {
  padding-top: 30px !important;
}

.pb-30,
.py-30 {
  padding-bottom: 30px !important;
}

.ps-30,
.px-30 {
  padding-left: 30px !important;
}

.pe-30,
.px-30 {
  padding-right: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.mt-40,
.my-40 {
  margin-top: 40px !important;
}

.mb-40,
.my-40 {
  margin-bottom: 40px !important;
}

.ms-40,
.mx-40 {
  margin-left: 40px !important;
}

.me-40,
.mx-40 {
  margin-right: 40px !important;
}

.p-40 {
  padding: 40px !important;
}

.pt-40,
.py-40 {
  padding-top: 40px !important;
}

.pb-40,
.py-40 {
  padding-bottom: 40px !important;
}

.ps-40,
.px-40 {
  padding-left: 40px !important;
}

.pe-40,
.px-40 {
  padding-right: 40px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-50,
.my-50 {
  margin-top: 50px !important;
}

.mb-50,
.my-50 {
  margin-bottom: 50px !important;
}

.ms-50,
.mx-50 {
  margin-left: 50px !important;
}

.me-50,
.mx-50 {
  margin-right: 50px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-50,
.py-50 {
  padding-top: 50px !important;
}

.pb-50,
.py-50 {
  padding-bottom: 50px !important;
}

.ps-50,
.px-50 {
  padding-left: 50px !important;
}

.pe-50,
.px-50 {
  padding-right: 50px !important;
}

.m-60 {
  margin: 60px !important;
}

.mt-60,
.my-60 {
  margin-top: 60px !important;
}

.mb-60,
.my-60 {
  margin-bottom: 60px !important;
}

.ms-60,
.mx-60 {
  margin-left: 60px !important;
}

.me-60,
.mx-60 {
  margin-right: 60px !important;
}

.p-60 {
  padding: 60px !important;
}

.pt-60,
.py-60 {
  padding-top: 60px !important;
}

.pb-60,
.py-60 {
  padding-bottom: 60px !important;
}

.ps-60,
.px-60 {
  padding-left: 60px !important;
}

.pe-60,
.px-60 {
  padding-right: 60px !important;
}

.m-90 {
  margin: 90px !important;
}

.mt-90,
.my-90 {
  margin-top: 90px !important;
}

.mb-90,
.my-90 {
  margin-bottom: 90px !important;
}

.ms-90,
.mx-90 {
  margin-left: 90px !important;
}

.me-90,
.mx-90 {
  margin-right: 90px !important;
}

.p-90 {
  padding: 90px !important;
}

.pt-90,
.py-90 {
  padding-top: 90px !important;
}

.pb-90,
.py-90 {
  padding-bottom: 90px !important;
}

.ps-90,
.px-90 {
  padding-left: 90px !important;
}

.pe-90,
.px-90 {
  padding-right: 90px !important;
}

.m-100 {
  margin: 100px !important;
}

.mt-100,
.my-100 {
  margin-top: 100px !important;
}

.mb-100,
.my-100 {
  margin-bottom: 100px !important;
}

.ms-100,
.mx-100 {
  margin-left: 100px !important;
}

.me-100,
.mx-100 {
  margin-right: 100px !important;
}

.p-100 {
  padding: 100px !important;
}

.pt-100,
.py-100 {
  padding-top: 100px !important;
}

.pb-100,
.py-100 {
  padding-bottom: 100px !important;
}

.ps-100,
.px-100 {
  padding-left: 100px !important;
}

.pe-100,
.px-100 {
  padding-right: 100px !important;
}

.m-991-40 {
  @media screen and (max-width: 991px) {
    margin: 40px !important;
  }
}

.mt-991-40,
.my-991-40 {
  @media screen and (max-width: 991px) {
    margin-top: 40px !important;
  }
}

.mb-991-40,
.my-991-40 {
  @media screen and (max-width: 991px) {
    margin-bottom: 40px !important;
  }
}

.ms-991-40,
.mx-991-40 {
  @media screen and (max-width: 991px) {
    margin-left: 40px !important;
  }
}

.me-991-40,
.mx-991-40 {
  @media screen and (max-width: 991px) {
    margin-right: 40px !important;
  }
}

.p-991-40 {
  @media screen and (max-width: 991px) {
    padding: 40px !important;
  }
}

.pt-991-40,
.py-991-40 {
  @media screen and (max-width: 991px) {
    padding-top: 40px !important;
  }
}

.pb-991-40,
.py-991-40 {
  @media screen and (max-width: 991px) {
    padding-bottom: 40px !important;
  }
}

.ps-991-40,
.px-991-40 {
  @media screen and (max-width: 991px) {
    padding-left: 40px !important;
  }
}

.pe-991-40,
.px-991-40 {
  @media screen and (max-width: 991px) {
    padding-right: 40px !important;
  }
}

.m-767-0 {
  @media screen and (max-width: 767px) {
    margin: 0px !important;
  }
}

.mt-767-0,
.my-767-0 {
  @media screen and (max-width: 767px) {
    margin-top: 0px !important;
  }
}

.mb-767-0,
.my-767-0 {
  @media screen and (max-width: 767px) {
    margin-bottom: 0px !important;
  }
}

.ms-767-0,
.mx-767-0 {
  @media screen and (max-width: 767px) {
    margin-left: 0px !important;
  }
}

.me-767-0,
.mx-767-0 {
  @media screen and (max-width: 767px) {
    margin-right: 0px !important;
  }
}

.p-767-0 {
  @media screen and (max-width: 767px) {
    padding: 0px !important;
  }
}

.pt-767-0,
.py-767-0 {
  @media screen and (max-width: 767px) {
    padding-top: 0px !important;
  }
}

.pb-767-0,
.py-767-0 {
  @media screen and (max-width: 767px) {
    padding-bottom: 0px !important;
  }
}

.ps-767-0,
.px-767-0 {
  @media screen and (max-width: 767px) {
    padding-left: 0px !important;
  }
}

.pe-767-0,
.px-767-0 {
  @media screen and (max-width: 767px) {
    padding-right: 0px !important;
  }
}

.m-767-20 {
  @media screen and (max-width: 767px) {
    margin: 20px !important;
  }
}

.mt-767-20,
.my-767-20 {
  @media screen and (max-width: 767px) {
    margin-top: 20px !important;
  }
}

.mb-767-20,
.my-767-20 {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px !important;
  }
}

.ms-767-20,
.mx-767-20 {
  @media screen and (max-width: 767px) {
    margin-left: 20px !important;
  }
}

.me-767-20,
.mx-767-20 {
  @media screen and (max-width: 767px) {
    margin-right: 20px !important;
  }
}

.p-767-20 {
  @media screen and (max-width: 767px) {
    padding: 20px !important;
  }
}

.pt-767-20,
.py-767-20 {
  @media screen and (max-width: 767px) {
    padding-top: 20px !important;
  }
}

.pb-767-20,
.py-767-20 {
  @media screen and (max-width: 767px) {
    padding-bottom: 20px !important;
  }
}

.ps-767-20,
.px-767-20 {
  @media screen and (max-width: 767px) {
    padding-left: 20px !important;
  }
}

.pe-767-20,
.px-767-20 {
  @media screen and (max-width: 767px) {
    padding-right: 20px !important;
  }
}

.m-767-40 {
  @media screen and (max-width: 767px) {
    margin: 40px !important;
  }
}

.mt-767-40,
.my-767-40 {
  @media screen and (max-width: 767px) {
    margin-top: 40px !important;
  }
}

.mb-767-40,
.my-767-40 {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px !important;
  }
}

.ms-767-40,
.mx-767-40 {
  @media screen and (max-width: 767px) {
    margin-left: 40px !important;
  }
}

.me-767-40,
.mx-767-40 {
  @media screen and (max-width: 767px) {
    margin-right: 40px !important;
  }
}

.p-767-40 {
  @media screen and (max-width: 767px) {
    padding: 40px !important;
  }
}

.pt-767-40,
.py-767-40 {
  @media screen and (max-width: 767px) {
    padding-top: 40px !important;
  }
}

.pb-767-40,
.py-767-40 {
  @media screen and (max-width: 767px) {
    padding-bottom: 40px !important;
  }
}

.ps-767-40,
.px-767-40 {
  @media screen and (max-width: 767px) {
    padding-left: 40px !important;
  }
}

.pe-767-40,
.px-767-40 {
  @media screen and (max-width: 767px) {
    padding-right: 40px !important;
  }
}

.m-1919-0 {
  @media screen and (max-width: 1919px) {
    margin: 0px !important;
  }
}

.mt-1919-0,
.my-1919-0 {
  @media screen and (max-width: 1919px) {
    margin-top: 0px !important;
  }
}

.mb-1919-0,
.my-1919-0 {
  @media screen and (max-width: 1919px) {
    margin-bottom: 0px !important;
  }
}

.ms-1919-0,
.mx-1919-0 {
  @media screen and (max-width: 1919px) {
    margin-left: 0px !important;
  }
}

.me-1919-0,
.mx-1919-0 {
  @media screen and (max-width: 1919px) {
    margin-right: 0px !important;
  }
}

.p-1919-0 {
  @media screen and (max-width: 1919px) {
    padding: 0px !important;
  }
}

.pt-1919-0,
.py-1919-0 {
  @media screen and (max-width: 1919px) {
    padding-top: 0px !important;
  }
}

.pb-1919-0,
.py-1919-0 {
  @media screen and (max-width: 1919px) {
    padding-bottom: 0px !important;
  }
}

.ps-1919-0,
.px-1919-0 {
  @media screen and (max-width: 1919px) {
    padding-left: 0px !important;
  }
}

.pe-1919-0,
.px-1919-0 {
  @media screen and (max-width: 1919px) {
    padding-right: 0px !important;
  }
}

.m-1919-10 {
  @media screen and (max-width: 1919px) {
    margin: 10px !important;
  }
}

.mt-1919-10,
.my-1919-10 {
  @media screen and (max-width: 1919px) {
    margin-top: 10px !important;
  }
}

.mb-1919-10,
.my-1919-10 {
  @media screen and (max-width: 1919px) {
    margin-bottom: 10px !important;
  }
}

.ms-1919-10,
.mx-1919-10 {
  @media screen and (max-width: 1919px) {
    margin-left: 10px !important;
  }
}

.me-1919-10,
.mx-1919-10 {
  @media screen and (max-width: 1919px) {
    margin-right: 10px !important;
  }
}

.p-1919-10 {
  @media screen and (max-width: 1919px) {
    padding: 10px !important;
  }
}

.pt-1919-10,
.py-1919-10 {
  @media screen and (max-width: 1919px) {
    padding-top: 10px !important;
  }
}

.pb-1919-10,
.py-1919-10 {
  @media screen and (max-width: 1919px) {
    padding-bottom: 10px !important;
  }
}

.ps-1919-10,
.px-1919-10 {
  @media screen and (max-width: 1919px) {
    padding-left: 10px !important;
  }
}

.pe-1919-10,
.px-1919-10 {
  @media screen and (max-width: 1919px) {
    padding-right: 10px !important;
  }
}

.m-1919-20 {
  @media screen and (max-width: 1919px) {
    margin: 20px !important;
  }
}

.mt-1919-20,
.my-1919-20 {
  @media screen and (max-width: 1919px) {
    margin-top: 20px !important;
  }
}

.mb-1919-20,
.my-1919-20 {
  @media screen and (max-width: 1919px) {
    margin-bottom: 20px !important;
  }
}

.ms-1919-20,
.mx-1919-20 {
  @media screen and (max-width: 1919px) {
    margin-left: 20px !important;
  }
}

.me-1919-20,
.mx-1919-20 {
  @media screen and (max-width: 1919px) {
    margin-right: 20px !important;
  }
}

.p-1919-20 {
  @media screen and (max-width: 1919px) {
    padding: 20px !important;
  }
}

.pt-1919-20,
.py-1919-20 {
  @media screen and (max-width: 1919px) {
    padding-top: 20px !important;
  }
}

.pb-1919-20,
.py-1919-20 {
  @media screen and (max-width: 1919px) {
    padding-bottom: 20px !important;
  }
}

.ps-1919-20,
.px-1919-20 {
  @media screen and (max-width: 1919px) {
    padding-left: 20px !important;
  }
}

.pe-1919-20,
.px-1919-20 {
  @media screen and (max-width: 1919px) {
    padding-right: 20px !important;
  }
}

.m-1919-30 {
  @media screen and (max-width: 1919px) {
    margin: 30px !important;
  }
}

.mt-1919-30,
.my-1919-30 {
  @media screen and (max-width: 1919px) {
    margin-top: 30px !important;
  }
}

.mb-1919-30,
.my-1919-30 {
  @media screen and (max-width: 1919px) {
    margin-bottom: 30px !important;
  }
}

.ms-1919-30,
.mx-1919-30 {
  @media screen and (max-width: 1919px) {
    margin-left: 30px !important;
  }
}

.me-1919-30,
.mx-1919-30 {
  @media screen and (max-width: 1919px) {
    margin-right: 30px !important;
  }
}

.p-1919-30 {
  @media screen and (max-width: 1919px) {
    padding: 30px !important;
  }
}

.pt-1919-30,
.py-1919-30 {
  @media screen and (max-width: 1919px) {
    padding-top: 30px !important;
  }
}

.pb-1919-30,
.py-1919-30 {
  @media screen and (max-width: 1919px) {
    padding-bottom: 30px !important;
  }
}

.ps-1919-30,
.px-1919-30 {
  @media screen and (max-width: 1919px) {
    padding-left: 30px !important;
  }
}

.pe-1919-30,
.px-1919-30 {
  @media screen and (max-width: 1919px) {
    padding-right: 30px !important;
  }
}

.m-1919-40 {
  @media screen and (max-width: 1919px) {
    margin: 40px !important;
  }
}

.mt-1919-40,
.my-1919-40 {
  @media screen and (max-width: 1919px) {
    margin-top: 40px !important;
  }
}

.mb-1919-40,
.my-1919-40 {
  @media screen and (max-width: 1919px) {
    margin-bottom: 40px !important;
  }
}

.ms-1919-40,
.mx-1919-40 {
  @media screen and (max-width: 1919px) {
    margin-left: 40px !important;
  }
}

.me-1919-40,
.mx-1919-40 {
  @media screen and (max-width: 1919px) {
    margin-right: 40px !important;
  }
}

.p-1919-40 {
  @media screen and (max-width: 1919px) {
    padding: 40px !important;
  }
}

.pt-1919-40,
.py-1919-40 {
  @media screen and (max-width: 1919px) {
    padding-top: 40px !important;
  }
}

.pb-1919-40,
.py-1919-40 {
  @media screen and (max-width: 1919px) {
    padding-bottom: 40px !important;
  }
}

.ps-1919-40,
.px-1919-40 {
  @media screen and (max-width: 1919px) {
    padding-left: 40px !important;
  }
}

.pe-1919-40,
.px-1919-40 {
  @media screen and (max-width: 1919px) {
    padding-right: 40px !important;
  }
}

.m-1919-50 {
  @media screen and (max-width: 1919px) {
    margin: 50px !important;
  }
}

.mt-1919-50,
.my-1919-50 {
  @media screen and (max-width: 1919px) {
    margin-top: 50px !important;
  }
}

.mb-1919-50,
.my-1919-50 {
  @media screen and (max-width: 1919px) {
    margin-bottom: 50px !important;
  }
}

.ms-1919-50,
.mx-1919-50 {
  @media screen and (max-width: 1919px) {
    margin-left: 50px !important;
  }
}

.me-1919-50,
.mx-1919-50 {
  @media screen and (max-width: 1919px) {
    margin-right: 50px !important;
  }
}

.p-1919-50 {
  @media screen and (max-width: 1919px) {
    padding: 50px !important;
  }
}

.pt-1919-50,
.py-1919-50 {
  @media screen and (max-width: 1919px) {
    padding-top: 50px !important;
  }
}

.pb-1919-50,
.py-1919-50 {
  @media screen and (max-width: 1919px) {
    padding-bottom: 50px !important;
  }
}

.ps-1919-50,
.px-1919-50 {
  @media screen and (max-width: 1919px) {
    padding-left: 50px !important;
  }
}

.pe-1919-50,
.px-1919-50 {
  @media screen and (max-width: 1919px) {
    padding-right: 50px !important;
  }
}

.m-1919-70 {
  @media screen and (max-width: 1919px) {
    margin: 70px !important;
  }
}

.mt-1919-70,
.my-1919-70 {
  @media screen and (max-width: 1919px) {
    margin-top: 70px !important;
  }
}

.mb-1919-70,
.my-1919-70 {
  @media screen and (max-width: 1919px) {
    margin-bottom: 70px !important;
  }
}

.ms-1919-70,
.mx-1919-70 {
  @media screen and (max-width: 1919px) {
    margin-left: 70px !important;
  }
}

.me-1919-70,
.mx-1919-70 {
  @media screen and (max-width: 1919px) {
    margin-right: 70px !important;
  }
}

.p-1919-70 {
  @media screen and (max-width: 1919px) {
    padding: 70px !important;
  }
}

.pt-1919-70,
.py-1919-70 {
  @media screen and (max-width: 1919px) {
    padding-top: 70px !important;
  }
}

.pb-1919-70,
.py-1919-70 {
  @media screen and (max-width: 1919px) {
    padding-bottom: 70px !important;
  }
}

.ps-1919-70,
.px-1919-70 {
  @media screen and (max-width: 1919px) {
    padding-left: 70px !important;
  }
}

.pe-1919-70,
.px-1919-70 {
  @media screen and (max-width: 1919px) {
    padding-right: 70px !important;
  }
}

.m-575-0 {
  @media screen and (max-width: 575px) {
    margin: 0px !important;
  }
}

.mt-575-0,
.my-575-0 {
  @media screen and (max-width: 575px) {
    margin-top: 0px !important;
  }
}

.mb-575-0,
.my-575-0 {
  @media screen and (max-width: 575px) {
    margin-bottom: 0px !important;
  }
}

.ms-575-0,
.mx-575-0 {
  @media screen and (max-width: 575px) {
    margin-left: 0px !important;
  }
}

.me-575-0,
.mx-575-0 {
  @media screen and (max-width: 575px) {
    margin-right: 0px !important;
  }
}

.p-575-0 {
  @media screen and (max-width: 575px) {
    padding: 0px !important;
  }
}

.pt-575-0,
.py-575-0 {
  @media screen and (max-width: 575px) {
    padding-top: 0px !important;
  }
}

.pb-575-0,
.py-575-0 {
  @media screen and (max-width: 575px) {
    padding-bottom: 0px !important;
  }
}

.ps-575-0,
.px-575-0 {
  @media screen and (max-width: 575px) {
    padding-left: 0px !important;
  }
}

.pe-575-0,
.px-575-0 {
  @media screen and (max-width: 575px) {
    padding-right: 0px !important;
  }
}

.m-575-10 {
  @media screen and (max-width: 575px) {
    margin: 10px !important;
  }
}

.mt-575-10,
.my-575-10 {
  @media screen and (max-width: 575px) {
    margin-top: 10px !important;
  }
}

.mb-575-10,
.my-575-10 {
  @media screen and (max-width: 575px) {
    margin-bottom: 10px !important;
  }
}

.ms-575-10,
.mx-575-10 {
  @media screen and (max-width: 575px) {
    margin-left: 10px !important;
  }
}

.me-575-10,
.mx-575-10 {
  @media screen and (max-width: 575px) {
    margin-right: 10px !important;
  }
}

.p-575-10 {
  @media screen and (max-width: 575px) {
    padding: 10px !important;
  }
}

.pt-575-10,
.py-575-10 {
  @media screen and (max-width: 575px) {
    padding-top: 10px !important;
  }
}

.pb-575-10,
.py-575-10 {
  @media screen and (max-width: 575px) {
    padding-bottom: 10px !important;
  }
}

.ps-575-10,
.px-575-10 {
  @media screen and (max-width: 575px) {
    padding-left: 10px !important;
  }
}

.pe-575-10,
.px-575-10 {
  @media screen and (max-width: 575px) {
    padding-right: 10px !important;
  }
}

.m-575-20 {
  @media screen and (max-width: 575px) {
    margin: 20px !important;
  }
}

.mt-575-20,
.my-575-20 {
  @media screen and (max-width: 575px) {
    margin-top: 20px !important;
  }
}

.mb-575-20,
.my-575-20 {
  @media screen and (max-width: 575px) {
    margin-bottom: 20px !important;
  }
}

.ms-575-20,
.mx-575-20 {
  @media screen and (max-width: 575px) {
    margin-left: 20px !important;
  }
}

.me-575-20,
.mx-575-20 {
  @media screen and (max-width: 575px) {
    margin-right: 20px !important;
  }
}

.p-575-20 {
  @media screen and (max-width: 575px) {
    padding: 20px !important;
  }
}

.pt-575-20,
.py-575-20 {
  @media screen and (max-width: 575px) {
    padding-top: 20px !important;
  }
}

.pb-575-20,
.py-575-20 {
  @media screen and (max-width: 575px) {
    padding-bottom: 20px !important;
  }
}

.ps-575-20,
.px-575-20 {
  @media screen and (max-width: 575px) {
    padding-left: 20px !important;
  }
}

.pe-575-20,
.px-575-20 {
  @media screen and (max-width: 575px) {
    padding-right: 20px !important;
  }
}

.m-575-30 {
  @media screen and (max-width: 575px) {
    margin: 30px !important;
  }
}

.mt-575-30,
.my-575-30 {
  @media screen and (max-width: 575px) {
    margin-top: 30px !important;
  }
}

.mb-575-30,
.my-575-30 {
  @media screen and (max-width: 575px) {
    margin-bottom: 30px !important;
  }
}

.ms-575-30,
.mx-575-30 {
  @media screen and (max-width: 575px) {
    margin-left: 30px !important;
  }
}

.me-575-30,
.mx-575-30 {
  @media screen and (max-width: 575px) {
    margin-right: 30px !important;
  }
}

.p-575-30 {
  @media screen and (max-width: 575px) {
    padding: 30px !important;
  }
}

.pt-575-30,
.py-575-30 {
  @media screen and (max-width: 575px) {
    padding-top: 30px !important;
  }
}

.pb-575-30,
.py-575-30 {
  @media screen and (max-width: 575px) {
    padding-bottom: 30px !important;
  }
}

.ps-575-30,
.px-575-30 {
  @media screen and (max-width: 575px) {
    padding-left: 30px !important;
  }
}

.pe-575-30,
.px-575-30 {
  @media screen and (max-width: 575px) {
    padding-right: 30px !important;
  }
}

.m-575-40 {
  @media screen and (max-width: 575px) {
    margin: 40px !important;
  }
}

.mt-575-40,
.my-575-40 {
  @media screen and (max-width: 575px) {
    margin-top: 40px !important;
  }
}

.mb-575-40,
.my-575-40 {
  @media screen and (max-width: 575px) {
    margin-bottom: 40px !important;
  }
}

.ms-575-40,
.mx-575-40 {
  @media screen and (max-width: 575px) {
    margin-left: 40px !important;
  }
}

.me-575-40,
.mx-575-40 {
  @media screen and (max-width: 575px) {
    margin-right: 40px !important;
  }
}

.p-575-40 {
  @media screen and (max-width: 575px) {
    padding: 40px !important;
  }
}

.pt-575-40,
.py-575-40 {
  @media screen and (max-width: 575px) {
    padding-top: 40px !important;
  }
}

.pb-575-40,
.py-575-40 {
  @media screen and (max-width: 575px) {
    padding-bottom: 40px !important;
  }
}

.ps-575-40,
.px-575-40 {
  @media screen and (max-width: 575px) {
    padding-left: 40px !important;
  }
}

.pe-575-40,
.px-575-40 {
  @media screen and (max-width: 575px) {
    padding-right: 40px !important;
  }
}

.m-575-50 {
  @media screen and (max-width: 575px) {
    margin: 50px !important;
  }
}

.mt-575-50,
.my-575-50 {
  @media screen and (max-width: 575px) {
    margin-top: 50px !important;
  }
}

.mb-575-50,
.my-575-50 {
  @media screen and (max-width: 575px) {
    margin-bottom: 50px !important;
  }
}

.ms-575-50,
.mx-575-50 {
  @media screen and (max-width: 575px) {
    margin-left: 50px !important;
  }
}

.me-575-50,
.mx-575-50 {
  @media screen and (max-width: 575px) {
    margin-right: 50px !important;
  }
}

.p-575-50 {
  @media screen and (max-width: 575px) {
    padding: 50px !important;
  }
}

.pt-575-50,
.py-575-50 {
  @media screen and (max-width: 575px) {
    padding-top: 50px !important;
  }
}

.pb-575-50,
.py-575-50 {
  @media screen and (max-width: 575px) {
    padding-bottom: 50px !important;
  }
}

.ps-575-50,
.px-575-50 {
  @media screen and (max-width: 575px) {
    padding-left: 50px !important;
  }
}

.pe-575-50,
.px-575-50 {
  @media screen and (max-width: 575px) {
    padding-right: 50px !important;
  }
}

.m-575-70 {
  @media screen and (max-width: 575px) {
    margin: 70px !important;
  }
}

.mt-575-70,
.my-575-70 {
  @media screen and (max-width: 575px) {
    margin-top: 70px !important;
  }
}

.mb-575-70,
.my-575-70 {
  @media screen and (max-width: 575px) {
    margin-bottom: 70px !important;
  }
}

.ms-575-70,
.mx-575-70 {
  @media screen and (max-width: 575px) {
    margin-left: 70px !important;
  }
}

.me-575-70,
.mx-575-70 {
  @media screen and (max-width: 575px) {
    margin-right: 70px !important;
  }
}

.p-575-70 {
  @media screen and (max-width: 575px) {
    padding: 70px !important;
  }
}

.pt-575-70,
.py-575-70 {
  @media screen and (max-width: 575px) {
    padding-top: 70px !important;
  }
}

.pb-575-70,
.py-575-70 {
  @media screen and (max-width: 575px) {
    padding-bottom: 70px !important;
  }
}

.ps-575-70,
.px-575-70 {
  @media screen and (max-width: 575px) {
    padding-left: 70px !important;
  }
}

.pe-575-70,
.px-575-70 {
  @media screen and (max-width: 575px) {
    padding-right: 70px !important;
  }
}

.gap-10 {
  @include gap(10px);
}

.gap-20 {
  @include gap(20px);
}

.gap-30 {
  @include gap(30px);
}

.gap-50 {
  @include gap(50px);
}

.gap-100 {
  @include gap(100px);
}

.w-767-100 {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.w-575-100 {
  @media screen and (max-width: 575px) {
    width: 100%;
  }
}
