@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  color: #fff;
}

body {
  background-color: $color1;
  font-size: 18px;
}

.section {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  padding-top: 100px;
  padding-bottom: 100px;

  @media screen and (max-width: 575px) {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

.page-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;

  &.btn-red {
    background-color: $color3;
  }
}

h1 {
  font-size: 60px;
  line-height: 1.25;

  @media screen and (max-width: 991px) {
    font-size: 46px;
  }

  @media screen and (max-width: 767px) {
    font-size: 36px;
  }

  @media screen and (max-width: 575px) {
    font-size: 28px;
  }
}

h2 {
  font-size: 40px;
}

p {
  font-size: 16px;
  font-weight: 200;
  opacity: 0.8;

  &.tint {
    color: $color2;
  }
}

input {
  outline: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 18px;
  cursor: pointer;
  margin-left: 22px;

  @media screen and (max-width: 575px) {
    height: 16px;
  }

  span {
    display: block;
    border-radius: 5px;
    width: 26px;
    height: 3px;
    background-color: #fff;

    @extend %transitioned;

    @media screen and (max-width: 575px) {
      width: 20px;
      height: 2px;
    }

    &:nth-child(2) {
      width: 16px;

      @media screen and (max-width: 575px) {
        width: 10px;
      }
    }

    &:nth-child(3) {
      width: 22px;

      @media screen and (max-width: 575px) {
        width: 14px;
      }
    }
  }

  &:hover {
    span {
      width: 26px;
    }
  }
}
