@import "./colors";
@import "./shared";
@import "./utilities";
@import "./utilities_2";

#main-layout {
  position: relative;
  overflow: hidden;

  .bg-vector {
    position: absolute;
    pointer-events: none;

    &.circle-top {
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: 100%;
    }

    &.circle-1 {
      left: 0;
      top: 250px;
      width: 39vw;
    }

    &.circle-2 {
      right: 0;
      top: 250px;
      width: 40vw;
    }

    &.circle-3 {
      left: 0;
      top: 250px;
    }

    &.bg-1,
    &.bg-2 {
      left: 0;
      width: 100%;
      top: 0;
    }
  }

  #header {
    padding: 40px;
    position: fixed;
    left: 0;
    width: 100vw;
    top: 0;
    z-index: 5;

    @extend %transitioned;

    .page-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav {
      display: flex;
      align-items: center;

      @include gap(50px);
      @extend %transitioned;

      @media screen and (max-width: 991px) {
        position: fixed;
        left: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        padding: 5rem 3rem 0;

        @include gap(0);
        @include gap(30px, true);

        .logo {
          filter: invert(100%);
        }

        .close {
          font-size: 120px;
          color: #000;
          position: absolute;
          right: 5rem;
          top: 1.75rem;
          cursor: pointer;
        }

        &.show {
          left: 0;
        }
      }

      @media screen and (max-width: 575px) {
        padding: 2rem;

        .close {
          right: 2rem;
          top: 0.5rem;
          font-size: 80px;
        }
      }

      a {
        position: relative;
        font-size: 20px;

        @extend %transitioned;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 0;
          height: 1px;
          background-color: #fff;
        }

        &:hover,
        &.active {
          color: $color2;
        }

        &.active {
          &::after {
            width: 30px;
          }
        }

        @media screen and (max-width: 991px) and (min-width: 768px) {
          &,
          &.active {
            font-size: 30px;
          }
        }

        @media screen and (max-width: 991px) {
          &,
          &.active {
            color: #000;
          }

          &::after {
            background-color: #000;
          }
        }
      }
    }

    &.scrolled {
      background-color: #fff;
      padding: 20px;

      .logo {
        filter: invert(100%);
      }

      .hamburger {
        span {
          background-color: #000;
        }
      }

      a:not(.btn) {
        color: #000;

        &:after {
          background-color: #000;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  #main-body {
    padding-top: 115px;
  }

  #footer {
    background-color: $color5;
    padding-bottom: 0;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    .main-row {
      --bs-gutter-y: 50px;

      @media screen and (min-width: 1600px) {
        --bs-gutter-x: 120px;
      }
    }

    .social {
      display: flex;
      align-items: center;

      @include gap(20px);

      @media screen and (max-width: 767px) {
        justify-content: center;

        @include gap(20px);
      }

      @media screen and (max-width: 575px) {
        @include gap(10px);
      }

      a {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px solid $color6;
        background-color: $color7;
        display: flex;
        justify-content: center;
        align-items: center;

        @extend %transitioned;

        &:hover {
          transform: translateY(-4px);
        }
      }
    }

    .links {
      a {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        color: $color2;
        opacity: 0.8;
        font-weight: 200;
      }
    }

    .input-container {
      height: 50px;
      display: flex;
      background-color: $color7;
      align-items: center;
      border: 1px solid $color6;
      border-radius: 6px;
      overflow: hidden;

      input {
        font-size: 14px;
        flex-grow: 1;
        background-color: transparent;
        border: none;
        padding: 0 22px;
      }

      .btn {
        background-color: $color6;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
      }
    }

    .copyright {
      margin-top: 40px;
      text-align: center;
      border-top: 1px solid #281b34;
      padding: 1rem;
      color: $color2;
      font-size: 16px;
      font-weight: 200;
    }
  }
}

#hero {
  position: relative;
  overflow: hidden;

  .wolf-hero {
    width: 100%;
    margin-top: -4rem;

    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  .bg-step {
    position: absolute;

    &.bg-1 {
      bottom: 5rem;
      left: 0;
      width: 100%;

      @media screen and (max-width: 991px) {
        bottom: 27rem;
      }

      @media screen and (max-width: 991px) {
        bottom: 23rem;
      }
    }

    &.bg-2 {
      bottom: 0;
      width: 100%;
      left: 0;
      bottom: -5rem;
    }
  }

  .steps {
    margin-top: -20rem;

    @media screen and (max-width: 767px) {
      margin-top: -12rem;
    }

    @media screen and (max-width: 575px) {
      margin-top: -8rem;
    }

    .main-row {
      @media screen and (min-width: 1400px) {
        --bs-gutter-x: 40px;
      }

      @media screen and (min-width: 1600px) {
        --bs-gutter-x: 100px;
      }
    }

    .step {
      position: relative;

      .number {
        color: $color4;
        font-weight: 900;
        font-size: 160px;
        line-height: 1;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }

      .step-body {
        position: relative;

        p {
        }
      }
    }
  }
}

#roadmap {
  position: relative;
  padding-bottom: 2rem;
  overflow: hidden;

  .bg-roadmap {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 8rem);
    position: absolute;
  }

  h1 {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 70px;
    background: url("../public/assets/imgs/roadmap-text-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border: solid #db4e32;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      top: 0;
    }

    &::before {
      left: 0;
      transform: rotate(-182deg);
      transform: translate(0%, -5%);
    }

    &::after {
      right: 0;
      transform: rotate(-90deg);
    }
  }

  .page-container {
    position: relative;
  }

  .roadmap-main {
    position: relative;

    .spaceship-wrapper {
      @media screen and (max-width: 767px) {
        margin-bottom: 15rem;
        min-height: 950px;
      }

      @media screen and (max-width: 575px) {
        min-height: 1020px;
      }

      .spaceship {
        mix-blend-mode: exclusion;
        transform: translate(9%, -5%);

        @media screen and (max-width: 1350px) {
          width: 79vw;
          transform: translate(0%, -5%);
        }

        @media screen and (max-width: 1200px) {
          opacity: 0.5;
        }

        @media screen and (max-width: 1023px) {
          opacity: 0.2;
          transform: translate(7%, -5%);
        }

        @media screen and (max-width: 767px) {
          transform: translate(4%, -5%);
        }
      }
    }

    .roadmap-text {
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      top: 28rem;
      flex-wrap: wrap;

      @media screen and (max-width: 991px) {
        top: 20rem;
      }

      .roadmap-item-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include gap(30px);

        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
      }

      .item {
        max-width: 360px;
        margin-top: 100px;

        @media screen and (max-width: 991px) {
          margin-top: 30px;
        }

        @media screen and (max-width: 767px) {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }

        &:first-child {
          @media screen and (min-width: 768px) {
            text-align: right;
          }
        }

        &:last-child {
          @media screen and (min-width: 768px) {
            transform: translateY(8rem);
          }
        }
      }
    }
  }

  .wolf,
  .grass {
    position: absolute;
    bottom: 0;

    @media screen and (max-width: 767px) {
      bottom: -15rem;
    }

    &.wolf-1 {
      left: 0;
      opacity: 0.6;
      width: 28vw;

      @media screen and (min-width: 1600px) {
        transform: translateX(-50%);
        opacity: 1;
        width: unset;
      }
    }

    &.wolf-2 {
      right: 0;
      opacity: 0.6;
      width: 17vw;

      @media screen and (min-width: 1600px) {
        transform: translateX(50%);
        opacity: 1;
        width: unset;
      }
    }

    &.grass {
      left: 50%;
      transform: translate(-50%, 2rem);
      width: calc(100vw + 15rem);
    }
  }
}
